.learning{
    border: 2px solid black;
    margin-bottom: 5px;
}
.css{
    border: 2px solid black;
    margin-bottom: 5px;
}

h1{
    color: #2f4f4f;
    margin-bottom: 10px;
}
#main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}
#main-nav li{
    display: inline-block;
}
.nav a{
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
#featured{
    background-color: orange;
}



#page-title{
    font-family: sans-serif;
}

.title{
    font-family: monospace;
}
.learning li{
    margin-top: 0;
}
#square{
    list-style: square;
}